menu "WiFi Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "Keenetic-0079"
        help
            SSID (network name) for the example to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "yoHwLp6B"
        help
            WiFi password (WPA or WPA2) for the example to use.

endmenu

menu "EMG8x Configuration"

    config EMG8X_BOARD_REV
        int "EMG8x Board Revision"
        default 1
        help
            EMG8x Board Major revision number (f.e. 1 for 2020-r1.0)

    config EMG8X_ADC_SAMPLING_FREQUENCY
        int "ADC sampling frequency code"
        default 6
        help
            0(16 kSPS),1(8 kSPS),2(4 kSPS),3(2 kSPS),4(1 kSPS),5(500 SPS),6(250 SPS),7(Reserved)

    config EMG8X_SPI_CLOCK_FREQUENCY
        int "SPI clock frequency, Hz"
        default 500000
        help
            SPI clock frequency in Hz

    config EMG8X_TRANSPORT_BLOCK_HEADER_SIZE
        int "Transport block header size (bytes)"
        default 16
        help 
            Transport block header size in bytes (should be aligned to 4 bytes)

    config EMG8X_PKT_COUNT_OFFSET
        int "Offset to packet counter in 32 bit words"
        default 2
        help 
            Offset to packet counter from the begining of transport block header in 4bytes words

    config EMG8X_SAMPLES_PER_TRANSPORT_BLOCK
        int "Number of samples per transport block"
        default 64
        help 
            Number of samples per transport block

    config EMG8X_TRANSPORT_QUE_SIZE
        int "Transport queue size (blocks)"
        default 2
        help 
            Transport queue size in blocks

    config EMG8X_TCP_SERVER_PORT
        int "Server TCP port"
        default 3000
        help 
            TCP port to listen

endmenu
